* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

nav{
    padding: 1vw 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(24, 0, 36); */
}

#nav-options{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-options h4{
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 10px;
    color: white;
    font-weight: 500;
    position: relative;

}

#nav-options h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#nav-options h4:hover::after{
    bottom: 0;
    border-radius: 0%;
}

#nav-options h4 a{
    text-decoration: none;
    color: white;
    z-index: 9;
    position: relative;
}

#nav-options h4:hover a{
    color: rgb(0, 0, 0);

}